<!DOCTYPE html>
<html>
    <meta charset="utf-8" />
    <head>
      <title>Summarizzle</title>
      <link rel="icon" type="image/png" sizes="48x48" href="static/favicon-48x48.png">
      <link rel="icon" type="image/png" sizes="192x192" href="static/favicon-192x192.png">
      <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    </head>

    <body>
      <h3>Summarize a YouTube video</h3>
      <!--<form action="/api/summarize_text" method="post">-->
        <!--<input type="text" name="text" placeholder="Enter a text" required />-->
        <!--<input type="submit" value="Generate summary" />-->
      <!--</form>-->
      <!--<br>-->
      <form action="/summarize_video" method="post">
        <input type="text" name="video_url" placeholder="Enter a YouTube Video URL" required />
          <div>
            <input type="checkbox" name="big_model" id="big_model" />
            <label for="big_model">use slow and expensive model</label>
          </div>
        <input type="submit" value="Generate summary" onclick="loading();"/>
      </form>
      <div class="loader" id="loading"></div>
      {% if results %}
<!--      <h4>Video URL</h4>-->
<!--      <div class="result">{{ url }}</div>-->
      <h4>Summary of <a href="{{ url }}">{{ video_title }}</a></h4>
      <img src="{{ thumbnail_url }}" alt="video thumbnail" height="240px">
<!--      <h4>Video Summary</h4>-->
      <ul>
      {% for key, result in results.items() %}
        <li class="result">{{ result }}</li>
      {% endfor %}
      </ul>
      {% endif %}
      {% if error_message %}
      <h4>{{ error_heading }}</h4>
      <div class="result">{{ error_message }}</div>
      {% endif %}
    </body>
<script type="text/javascript">
    // <![CDATA[
        function loading(){
            document.getElementById("loading").style.display = "block";
        }
    // ]]>
</script>
<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="summarizzle" data-description="Support us!" data-message="Support us!" data-color="#10a37f" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
</html>
