<!DOCTYPE html>
<html>
    <meta charset="utf-8" />
    <head>
      <title>Summarizzle</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    </head>

    <body>
      <h3>Summarize a YouTube video</h3>
      <!--<form action="/api/summarize_text" method="post">-->
        <!--<input type="text" name="text" placeholder="Enter a text" required />-->
        <!--<input type="submit" value="Generate summary" />-->
      <!--</form>-->
      <!--<br>-->
      <form action="/summarize_video" method="post">
        <input type="text" name="video_url" placeholder="Enter a YouTube Video URL" required />
          <div>
            <input type="checkbox" name="big_model" id="big_model" />
            <label for="big_model">use slow and expensive model</label>
          </div>
        <input type="submit" value="Generate summary" onclick="loading();"/>
      </form>
      <div class="loader" id="loading"></div>
      {% if results %}
      <h4>Video URL</h4>
      <div class="result">{{ url }}</div>
      <h4>Video Summary</h4>
      <ul>
      {% for key, result in results.items() %}
        <li class="result">{{ result }}</li>
      {% endfor %}
      </ul>
      {% endif %}
      {% if error_message %}
      <h4>{{ error_heading }}</h4>
      <div class="result">{{ error_message }}</div>
      {% endif %}
    </body>
<script type="text/javascript">
    // <![CDATA[
        function loading(){
            document.getElementById("loading").style.display = "block";
        }
    // ]]>
</script>
</html>
